@require "helpers"

text-color = #000
mobile-width = 600px

body
	margin 0
	padding 0
	font-family sans-serif

#navbar
	position fixed
	margin-bottom
	top 0
	width calc(100% - 40px)
	height 50px
	padding 20px
	background crimson

#navbar span
	color white
	font-size 2em
	text-transform uppercase
	font-family 'Futura', sans-serif
	padding 10px

#nb-items
	float right
#nb-items *
	padding-left


.form-box
	width 50%
	margin 0px 25%
	box-shadow 0px 0px 20px #CCC
	padding 30px
.fb-item
	margin-bottom 20px
.fb-item input
	width 100% 
	font-size 1.2em
.fb-item:focus
	border-color crimson

#submit
	bottom 0
	left 0
	width 100% 
	background crimson
	padding 20px
	text-align center
	color white
	font-size 1.4em
	text-transform upper
	border none
#submit:hover
	opacity 0.8
	curser pointer

